<div class="container-fluid pageImage " *ngIf="member && user.role === 'Admin'">
	<div class="row">
		<div class="col-sm-12 p-0">
			<div class="grayFilterSmall">
				<h1 class="text-center capitalize pageImageText">
      		{{member.firstName}} {{member.lastName}}
        </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid div-color">
	<div class="container">
		<div class="row" *ngIf="member && user.role === 'Admin'">
			<div class="col-sm-8 text-justify">
				<div class="row py-5">
					<h4 class="col">Basic Info</h4>
				</div>
				<div class="row pb-3">
					<p class="col">Email: {{member.email}}</p>
				</div>
				<div class="row pb-3">
					<p class="col">Username: {{member.username}}</p>
				</div>
				<div class="row pb-3">
					<p class="col">Member role: {{member.role}}</p>
				</div>
			</div>
			<div class="col-sm-4 text-center" *ngIf="allowEdit">
				<div class="row" style = "padding-top:20vh;">
					<button class="memberButton btn col-sm-6" [routerLink]="['/authentication/members', member._id, 'edit']">Edit</button>
					<button class="memberButton btn col-sm-6" (click)="delete()">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
