/* burger menu */
.burger{
  min-height:5px;
  margin-top: 6px;
  margin-bottom: 6px;
  width:35px;
  border-radius: 15px;
  background-color: rgb(28, 28, 28);
  display: block;
  opacity: 0;
  animation-name: menuBurger;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
/* burger icon animation */
@keyframes menuBurger{
  0%{
    opacity: 0;
  }
  80%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

/* exit icon */
.cross1{
  height: 5px;
  width: 38px;
  border-radius: 15px;
  background-color: rgb(28, 28, 28);
  transform: rotateZ(45deg) translateX(1px) translateY(3px);
  display: none;
}
.cross2{
  height: 5px;
  width: 38px;
  border-radius: 15px;
  background-color: rgb(28, 28, 28);
  transform: rotateZ(-45deg) translateX(1px) translateY(-2px);
  display: none;
}

/* toggling between burger and exit icons */
.toggleButton.clicked span.cross1{
  display: block;
  opacity: 0;
  animation-name: exit1;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}
.toggleButton.clicked span.cross2{
  display: block;
  opacity: 0;
  animation-name: exit2;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

/* exit icon animations */
@keyframes exit1{
  0%{
    transform: rotateZ(45deg) translateX(1px) translateY(3px);
    opacity: 0;
  }
  80%{
    transform: scale(1.2) rotateZ(45deg) translateX(1px) translateY(3px);
  }
  100%{
      transform: scale(1) rotateZ(45deg) translateX(1px) translateY(3px);
    opacity: 1;
  }
}
@keyframes exit2{
  0%{
    transform:rotateZ(-45deg) translateX(1px) translateY(-2px);
    opacity: 0;
  }
  80%{
      transform: scale(1.2) rotateZ(-45deg) translateX(1px) translateY(-2px);
  }
  100%{
      transform: scale(1.0) rotateZ(-45deg) translateX(1px) translateY(-2px);
    opacity: 1;
  }
}

.toggleButton.clicked span.burger{
  display: none;
}

#togButton{
  display: none;
}

/* menu toggle button */
.toggleButton{
  width:51px;
  height:45px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  margin: 15px 10px 15px 0px;
  border-radius: 10px;
}
.toggleButton:focus{
  background-color: rgba(255, 253, 219,.2);
  outline: none;
}

.toggleButton:hover{
  animation-name: hov;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.toggleButton:hover span{
  background-color: rgb(233,233,233);
}

@keyframes hov{
  0%{
    background-color: rgba(255, 255, 255, 0);
  }
  100%{
    background-color: rgba(59, 32, 68, 0.9);
  }
}

/* menu buttons */
/* dropdown menu */
.menuList{
  padding: 0;
  margin:0;
  margin-top:17.5vh;
  display: none;
}
ul.menuList li{
  width: 60vw;
  height: 10vh;
  margin-bottom: 5vh;
  display: block;
}

/*displaying/animating menu buttons individually */
.toggleButton.clicked + ul.menuList {
  display: block;
  perspective:1000px;
}
.toggleButton.clicked + ul.menuList li:nth-child(1){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.toggleButton.clicked + ul.menuList li:nth-child(2){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}
.toggleButton.clicked + ul.menuList li:nth-child(3){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.toggleButton.clicked + ul.menuList li:nth-child(4){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.toggleButton.clicked + ul.menuList li:nth-child(5){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}

.toggleButton.clicked + ul.menuList li:nth-child(6){
  display: block;
  opacity: 0;
  animation-name: menu;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}
/*menu button animation */
@keyframes menu {
  0% {
    opacity:0;
    transform: scale(0.3) translateY(30px);
  }
  80% {
    transform: scale(1.2) translateY(-10px);
  }
  100% {
    opacity:1;
    transform: scale(1) translateY(0px);
  }
}

.padLeft20{
  padding-left: 5vw;
}
.padRight20{
  padding-right: 5vw;
}
/* menu item button */
.menuButton{
  background-color: rgba(0, 0, 0, 0);
  min-width: 100%;
  min-height: 100%;
  border-style: solid;
  border-width: 5px;
  border-color:rgb(28, 28, 28);
  color: rgb(28, 28, 28);
  border-radius: 15px;
}
.menuButton:hover{
  outline: none;
  animation-name: menuB;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* animation for when clicking menu button */
@keyframes menuB {
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.1);
    background-color: rgba(59, 32, 68, .9);
    color : rgb(233,233,233);
  }
}

.tButton{
  display: block;
}

.menuBar{
  display: none;
}

/* ---------- welcome sign ---------- */

.welcomeSign{
  height: 128vh;
  width: 100%;
  background-image: url("../images/vane.jpg");
  background-position: 30% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcomeImage{
  /* height: 128vh;
  width: 100%;

  background-attachment: fixed;
  position: fixed;
  z-index:-10; */
}

.darkFilter{
  height:128vh;
  background-color: rgba(28, 28, 28, .3);
  justify-content: center;
}

.darkFilter h1:nth-child(1){
  min-height: 9vh;
  margin: 0;
  color: rgb(233,233,233);
  text-align: center;
  padding-top:22vh;
  font-weight: bold;
  font-size: 300%;
  margin-top: 20vh;
}
.darkFilter h1:nth-child(2){
  min-height: 9vh;
  color: rgb(233,233,233);
  text-align: center;
  padding-top: 0;
  font-weight: bold;
}
.darkFilter p{
  color: rgb(233,233,233);
  text-align: center;
  padding-top: 7vh;
  font-style: italic;
  font-size: 120%;
  min-height: 4vh;
}

.yogiButton{
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  min-height:100%;
  border-style: solid;
  border-width: 5px;
  border-color:rgb(233, 233, 233);
  color:rgb(233, 233, 233);
  border-radius: 15px;
  align-self: center;
}

.yogiButton h4{
  padding-left: 5vw;
  padding-right: 5vw;
}

.yogiButton:hover{
  outline: none;
  animation-name: yogiBtn;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes yogiBtn{
  0% {
    transform: scale(1);
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.1);
    background-color: rgba(59, 32, 68, .9);
  }
}

.buttonWrap{
  display:block;
  width: 60vw;
  height: 15vh;
  text-align: center;;
}

.hdr{
  padding-top:6vh;
  text-align: center;
  height: 20vh;
  padding-bottom: 6vh;
}
.hdr h1{
  padding: 0;
  margin: 0;
  color: rgb(28,28,28);
}
.classCard{
  height: 80vh;
  width: 100%;
}
.desc{
  height: 50vh;
  width: 100%;
}

.desc h3{
  height:6vh;
  width: 100%;
  text-align: center;
  margin:0;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.desc h4{
  height: 6vh;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.desc p{
  text-align: justify;
  font-size: 120%;
}

.img1{
  height: 30vh;
  width: 100%;
  background-image: url("../images/park1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img2{
  height: 30vh;
  width: 100%;
  background-image: url("../images/rocks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img3{
  height: 30vh;
  width: 100%;
  background-image: url("../images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forCause{
  height: 100vh;
  width: 100%;
  background-image: url("../images/hands.jpg");
  background-position: 40%,50%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

.causeFilter{
  height: 100vh;
  width: 100%;
  background-color: rgba(28, 28, 28, 0.5);
  color: rgb(233,233,233);
}
.causeH{
  height: 12vh;
  padding: 0;
  margin: 0;
  padding-top: 3vh;
  padding-bottom: 6vh;
}
.causeH h1{
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.causeD{
  height: 85vh;
  padding: 0;
  margin: 0;
  padding-bottom:5vh;
}
.causeD p{
  text-align: justify;
  font-size: 120%;
}

.causeBut{
  height: 10vh;
  margin-top: -3vh;
}

/* yoga for ADOLESCENCE */
.adoImage{
  height: 30vh;
  max-width: 100%;
  background-image: url("../images/sunsetYoga.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 7vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.adoButton{
  border-color: rgb(28,28,28);
  color: rgb(28,28,28);
}
.adoButton h4{
  font-size: 100%;
}
.adoButton:hover{
  color: rgb(233,233,233);
}

.adoDesc{
    font-size: 120%;

}

.adolH{
  height: 20vh;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.adolH h1{
  color: rgba(59, 32, 68, 0.7);
  font-weight:bold;
  text-align: center;
}

.widerBtn{
  width: 80%;
  margin-bottom: 10vh;
}
/* private class */

.yogaImage{
  height: 100vh;
  background-image: url("../images/lovelife2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

.yogaFilter{
  height:100vh;
  background-color: rgba(28, 28, 28, .3);
  justify-content: center;
}

.yogaFilter h1:nth-child(1){
  min-height: 9vh;
  margin: 0;
  color: rgb(233,233,233);
  text-align: center;
  padding-top:12vh;
  font-weight: bold;
  font-size: 300%;
}
.yogaFilter h1:nth-child(2){
  min-height: 9vh;
  color: rgb(233,233,233);
  text-align: center;
  padding-top: 0;
  font-weight: bold;
  font-size: 300%;
  margin-left: 0;
  margin:0;
}
.yogaFilter h1:nth-child(3){
  min-height: 9vh;
  margin:0;
  color: rgb(233,233,233);
  text-align: center;
  padding-top: 0;
  font-weight: bold;
  font-size: 300%;
}
.yogaFilter p{
  color: rgb(233,233,233);
  text-align: center;
  padding-top: 7vh;
  font-style: italic;
  font-size: 120%;
}

/* footer */

.foot{
  height: 30vh;
}
.logo{
  margin-top: 5vh;
  height: 20vh;
  width: 20vh;
  background-image: url("../images/yogiilovelogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.logo p{
  height: 5vh;
  font-size: 120%;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  color: rgb(28,28,28);
}
/* for bigger than 600 pixels aka tablets */
/* @media only screen and (min-width: 600px) {
  .tButton{
    display: block;
  }
  .menuBar{
    display: none;
  }
} */

/* for bigger than 768 pixels aka desktops */
@media only screen and (min-width: 1025px){

  .padLeft20{
    padding-left: 5vw;
  }
  .padRight20{
    padding-right: 5vw;
  }

/* ---------- welcome sign ---------- */

.welcomeSign{
  background-position: top;
}

.darkFilter h1:nth-child(1){
  font-size: 600%;
  padding-top:10vh;
}
.darkFilter h1:nth-child(2){
  font-size: 400%;
}
.darkFilter p{
  font-size: 140%;
}

.buttonWrap{
  display:block;
  width: 40vw;
  height: 15vh;
}

.tButton{
  display: none;
}

.menuBar{
  display: block;
  height: 12vh;
}

.barButton{
  background-color: rgba(199, 189, 166, 0);
  border-style: none;
}

.barButton h4{
  font-size: 120%;
}

.barButton:hover{
  outline: none;
  animation-name: barBtn;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes barBtn{
  0%{
    transform: scale(1.0);
  }
  100%{
    transform: scale(1.1);
  }
}

/* yoga for a cause */

.forCause{
  background-image: url("../images/amor.jpg");
}

.causeD p{
  text-align: justify;
  font-size: 120%;
  margin-left: 10vw;
  margin-right: 10vw;
}

.causeH h1{
  text-align: center;
  font-size: 600%;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.causeH{
  height:30vh;
  padding-top: 6vh;
}
.causeD{
  height: 60vh;
}
.causeD p{
  text-align: justify;
  font-size: 150%;
}
.causeBut{
  height: 15vh;
  margin-top: 2vh;
}

.adoDesc{
  padding-left: 5vw;
  padding-right: 5vw;
}

.adoDesc p:nth-child(1){
}
.adoDesc p:nth-child(2){
}
/* yoga for ADOLESCENCE */
.adoImage{
  margin: 0;
  height: 60vh;
  margin-bottom: 10vh;
  margin-right:5vw;
}

.adoButton h4{
  font-size: 120%;
}

.adolH{
  height: 30vh;
  padding-top: 6vh;
  padding-bottom: 6vh;
}
.adolH h1{
  color: rgba(59, 32, 68, 0.7);
  font-size: 600%;
  font-weight:bold;
  text-align: center;
}

/* private class */

.yogaFilter p{
  margin-left:25vw ;
  margin-right:25vw ;
}

/* footer */

}
@media only screen and (min-width: 1333px){
  .padLeft20{
    padding-left: 20vw;
  }
  .padRight20{
    padding-right: 20vw;
  }
}
