/* -----------Home Page------------- */
.homeImage {
  background: url('./images/park1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border-width: 0;
  /* to make it blurry */
  /* -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); */
}
.grayFilter {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100vh;
}

/* ----------- Header ----------*/
.logoImage {
  background: url('./images/yogiilovelogo2.0.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  margin: 0;
  height:15vh;
  width: 100%;
  padding: 0;
  padding-top: 10px;
  border-width: 0;
}



/*-------------Navbar----------------*/
.yoggifont {
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Monda', sans-serif;
  font-size: 120%
}
.yoggiHeaderFont {
  font-family: 'Julius Sans One', sans-serif;
}
.navFontColor {
  color: rgb(240, 240, 240);
}

.hamburger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
}
/*----------Tablets Screen -----*/
@media screen and (max-width:1040px) {


}
/*----------Phones Screen -----*/
@media screen and (max-width:480px) {


}
