<div class="container-fluid pageImage">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="grayFilterSmall">
				<h1 class="text-center pageImageText">
      		Events
        </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid div-color">
	<div class="row list-group">
		<div class=" col-12" style="background-color: rgba(0,0,0,0); border: none;">
			<div class="row py-5 headerColor">
				<h4 class="text-center col-6">Name of Event</h4>
				<h4 class="col-6 text-center">Description</h4>
			</div>
		</div>
	</div>
	<div class="row pb-1" *ngFor="let event of events">
		<a class=" col-12 list-group-item memberButton btn" [routerLink]="['/events', event._id]">
			<div class="row pt-3">
				<h4 class=" capitalize text-center col-6">{{event.eventName}}</h4>
				<p class="col-6 text-center">{{event.description}}</p>
			</div>
		</a>
	</div>
	<div *ngIf="events && events.length === 0">
		No events yet, why don't you <a [routerLink]="['/events/create']">create one</a>?
	</div>
</div>
