<div class="container-fluid pageImage " *ngIf="user">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="grayFilterSmall">
				<h1 class="text-center capitalize pageImageText">
      		{{_authenticationService.user.firstName}} {{_authenticationService.user.lastName}}
        </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid div-color">
	<div class="row" *ngIf="user">
		<div class="col-sm-8 text-justify">
			<div class="row py-5 headerColor">
				<h4 class="col">Basic Info</h4>
			</div>
			<div class="row py-3">
				<p class="col">Email: {{_authenticationService.user.email}}</p>
			</div>
			<div class="row pb-3">
				<p class="col">Username: {{_authenticationService.user.username}}</p>
			</div>
			<div class="row pb-3">
				<p class="col">Member role: {{_authenticationService.user.role}}</p>
			</div>
		</div>
		<div class="col-sm-4 text-center">
			<div class="row py-5 headerColor">
				<h4 class="col text-center">Points</h4>
			</div>
			<div class="row align-items-center" style = "height: 65%;">
				<h1 class="col text-center">{{_authenticationService.user.points}}</h1>
			</div>
		</div>
	</div>
	<div>
		<div class="row py-5 headerColor justify-content-center">
			<h4 class="text-center py-0 my-0">Events Attended</h4>
		</div>
		<div *ngIf="_authenticationService.user.points !== 0" class="row py-5 justify-content-center">
			<div class="col-sm-4" *ngFor="let event of _authenticationService.user.attendedEvents">
				<p style="width: 100%; height:100%; border-style: solid; border-radius: 5px; border-width: 5px; border-color: rgb(23, 23, 23); background-color: none;" class="text-center m-0 py-2">{{event}}</p>
			</div>
		</div>
		<div *ngIf="_authenticationService.user.points === 0" class="row justify-content-center">
			<div class="col-sm-4">
				<p style="width: 100%; height:100%;" class="text-center">No Events Attended</p>
			</div>
		</div>
	</div>
</div>
