/* blue 59f3fd */
/* purple c780ce */

body{
  background-color: rgb(255, 233, 190);
}

/* -------------- loading screen ---------------- */

.webFont{
  font-family: 'Oswald', sans-serif;
}

.loadingBackground{
  background-color: #3b2044;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height: 100vh;
}

.backgroundFilter{
  padding-top: 30vh;
  padding-bottom: 15vh;
}

.backgroundFilter h1{
  height: 10vh;
  color: rgb(255, 250, 180);
  text-align: center;
  opacity: 0;
  animation-name: pop;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
  padding-top: 15vh;
}

@keyframes pop {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.loadingEye{
  background-image: url("images/yogiiloveeye2.0.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin:auto;
  height:30vh;
  width: auto;
  animation-name: loadingEye;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  z-index: 5;
}

@keyframes loadingEye {
  0%{
    opacity: 0;
    transform: scale(0.3);
  }
  5%{
    opacity: 1;
    transform: scale(1.2);
  }
  10%{
    transform: scale(1.0);
  }
  /* 12%{
    transform: scaleY(0);
  } */
  14%,84%{
    transform: scaleY(1.0);
  }
  86%{
    transform: scaleY(0);
  }
  88%{
    transform: scaleY(1.0);
  }
  90%{
    transform: scale(1.0);
  }
  95%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(0.3);
  }
}

.loadingPeddles{
  background-image: url("images/yogiilovepeddles.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: auto;
  height: 30vh;
  opacity: 0;
  animation-name: loadingPeddle;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.spinner{
  margin-top:-30vh;
  padding: 0;
  animation-name: spinning;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes spinning {
0%{
  transform: rotate(0deg);
}
100%{
  transform: rotate(359deg);
}

}
@keyframes loadingPeddle {
  0%{
    opacity: 0;
    transform: scale(0.3);
  }
  5%{
    opacity: 1;
    transform: scale(1.2);
  }
  10%,40%{
    transform: scale(1.0);
  }
  45%{
    transform: scale(1.2);
  }
  50%,90%{
    transform: scale(1.0);
  }
  95%{
    opacity: 1;
    transform: scale(1.2);
  }
  100%{
    opacity: 0;
    transform: scale(0.3);
  }
}
