<div class="headerBackground">
  <div class="container-fluid headerStyle p-0">
    <nav class="navbar navbar-expand-lg p-0">
      <a class="navbar-brand pl-3" href="#">
        <img src="./images/logo2.0.png" class = "headerLogo " alt="">
        <h1 class = "logoText">UF MEDLIFE</h1>
      </a>
      <button class="navbar-toggler medButton btn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <div class = "icon-bar"></div>
        <div class = "icon-bar"></div>
        <div class = "icon-bar"></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="medButton btn btn-block homeButton" [routerLink]="['/']">Home</button>
          </li>
          <li class="nav-item dropdown">
            <button class="medButton btn navButton dropdown-toggle  btn-block" type="button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Get Involved
          </button>
            <div class="dropdown-menu medDropdown  " aria-labelledby="navbarDropdownMenuLink">
              <button class=" medDropdownButton btn dropdown-item text-center" type="button" [routerLink]="['/getInvolved/becomeAMember']">Become a member</button>
              <button class="medDropdownButton btn dropdown-item text-center" type="button" [routerLink]="['/getInvolved/alreadyAMember']">Already a member?</button>
            </div>
          </li>
          <li class="nav-item" *ngIf="_authenticationService.isLoggedIn() && _authenticationService.user.role === 'Member'">
            <button class="medButton btn navButton btn-block" [routerLink]="['/viewProfile']">View Earned Points</button>
          </li>
          <!-- <li class="nav-item">
            <button class="medButton btn  btn-block navButton" [routerLink]="['/events']">Events</button>
          </li> -->
          <li *ngIf="_authenticationService.isLoggedIn() && _authenticationService.user.role === 'Admin'" class="nav-item dropdown">
            <button class="medButton btn navButton dropdown-toggle  btn-block" type="button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Event Editor
          </button>
            <div class="dropdown-menu medDropdown  " aria-labelledby="navbarDropdownMenuLink">
              <button class=" medDropdownButton btn dropdown-item text-center" type="button" [routerLink]="['/events']">List Events</button>
              <button class="medDropdownButton btn dropdown-item text-center" type="button" [routerLink]="['/events/create']">Create Events</button>
            </div>
          </li>
          <li *ngIf="_authenticationService.isLoggedIn() && _authenticationService.user.role === 'Admin'" class="nav-item dropdown">
            <button class="medButton btn navButton dropdown-toggle  btn-block" type="button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Member Editor
          </button>
            <div class="dropdown-menu medDropdown  " aria-labelledby="navbarDropdownMenuLink">
              <button class=" medDropdownButton btn dropdown-item text-center" type="button" [routerLink]="['/authentication/members']">List Members</button>
              <button class="medDropdownButton btn dropdown-item text-center" type="button" [routerLink]="['/authentication/signup']">Create Members</button>
            </div>
          </li>
          <li class="nav-item" *ngIf="_authenticationService.isLoggedIn() && (_authenticationService.user.role === 'Admin'|| _authenticationService.user.role === 'Officer')">
            <button class="medButton btn navButton btn-block" [routerLink]="['/authentication/addPoint']">Add Member Points</button>
          </li>
          <li class="nav-item">
            <button class="medButton btn btn-block lastButton" [routerLink]="['/contactUs']">Contact us</button>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li *ngIf="_authenticationService.isLoggedIn()" class="nav-item dropdown">
            <button class="medButton btn dropdown-toggle  btn-block capitalize" type="button" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="./images/user-icon.png" style= "max-width: 18px; height: auto;"alt="">
              {{_authenticationService.user.firstName}} {{_authenticationService.user.lastName}}
            </button>
            <div class="dropdown-menu dropdown-menu-right medDropdown" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item medDropdownButton btn text-center" href="/api/auth/signout">Signout</a>
            </div>
          </li>
          <li *ngIf="!(_authenticationService.isLoggedIn())" class="nav-item">
            <button class="medButton btn btn-block" type="button" [routerLink]="['/authentication/signin']">Sign in</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
