<div class="container-fluid pageImage " *ngIf="event && user.role === 'Admin'">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="grayFilterSmall">
				<h1 class="text-center capitalize pageImageText">
      		{{event.eventName}}
        </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid div-color">
	<div class="container">
		<div class="row" style="height :50vh;" *ngIf="event && user.role === 'Admin'">
			<div class="col-8 text-center">
				<div class="row pt-5 pb-3">
					<h3 class="col">Description</h3>
				</div>
				<div class="row pb-5">
					<h4 class="col">{{event.description}}</h4>
				</div>
			</div>
			<div class="col-4 text-center" *ngIf="allowEdit">
				<div class="row" style="padding-top:20vh;">
					<button class="memberButton btn col-sm-6" [routerLink]="['/events', event._id, 'edit']">Edit</button>
					<button class="memberButton btn col-sm-6" (click)="delete()">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
