<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center medSignin">
      <h4 class = "py-3">Enter new password</h4>
      <form (ngSubmit)="resetPassword()">
        <div class="form-group row justify-content-center">
          <label class=" col-form-label col-sm-4">Password:</label>
          <div class=" col-sm-6" *ngIf="!(this.showPassword)">
            <input class ="form-control" type="password" [(ngModel)]="user.password" name="password">
          </div>
          <div class="col-sm-2" *ngIf="!(this.showPassword)">
            <button class = "medButton btn"(click)="this.showPassword = true">Show</button>
          </div>
          <div class=" col-sm-6" *ngIf="(this.showPassword)">
            <input class ="form-control" type="text" [(ngModel)]="user.password" name="password">
          </div>
          <div class=" col-sm-2" *ngIf="(this.showPassword)">
            <button class = "medButton btn" (click)="this.showPassword = false">Hide</button>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4 mx-auto">
            <button type="submit" class="portalButton btn">Submit</button>
          </div>
        </div>
        <div class="form-group row">
          <span>{{errorMessage}}</span>
        </div>
      </form>
    </div>
  </div>
</div>
