<div class="container-fluid pageImage">
	<div class="row">
		<div class="col-md-12 p-0">
			<div class="grayFilterSmall">
				<h1 class="text-center pageImageText">
      		Member Points
        </h1>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid div-color">
	<div class="row list-group py-5 headerColor">
		<div class="col-12" style="background-color: rgba(0,0,0,0); border: none;">
			<div class="row">
				<h4 class="text-center col-8">Member Name</h4>
				<h4 class="col-4 text-center">Points Earned</h4>
			</div>
		</div>
	</div>
	<div class="row" *ngFor="let member of members">
		<a class=" col-12 list-group-item memberButton btn" *ngIf="member.role ==='Member'" [routerLink]="['/authentication/addPoint', member._id]">
			<div class="row pt-3">
				<h4 class=" capitalize text-center col-8">{{member.firstName}} {{member.lastName}}</h4>
				<h1 class="col-4 text-center">{{member.points}}</h1>
			</div>
		</a>
	</div>
</div>
